@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)

    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)

    @Html.LabelFor(model => model.NumberInStock)
    @Html.TextBoxFor(model => model.NumberInStock)
    
    @Html.Label("Add an engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Add new Machine" class="btn btn-default" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Machines", "Index")</p>
</div> 