@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<h3>@Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(model => model.Genre)</h3>
<h3>@Html.DisplayNameFor(model => model.NumberInStock): @Html.DisplayFor(model => model.NumberInStock)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine is not currently licensed to any engineers</p>
}
else
{
  <h4>Engineers who are licensed under this machine:</h4>
  <ul>
  @foreach(EngineerMachine join in Model.JoinEntities)
  {
    <li>@join.Engineer.Name</li>
    @using (Html.BeginForm("DeleteJoin", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId }) | @Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId }) | @Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Back to List of Machines", "Index")</p>
</div>