@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine's information: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)

    @Html.LabelFor(model => model.NumberInStock)
    @Html.TextBoxFor(model => model.NumberInStock)

    <input type="submit" value="Save" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Machines", "Index")</p>
</div>
