@{
  Layout = "_Layout";
}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Dr. Sillystringz's Factory!</h1>
  <hr>
</div>

@using Factory.Models;

<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been added yet!</p>
} 
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    @if (machine.Title != null)
{
    <li>@Html.ActionLink(machine.Title, "Details", "Machines", new { id = machine.MachineId})</li>
}
  }
</ul>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers have been added yet!</p>
} 
<ul>
  @foreach (Engineer engineer in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage machines", "Index", "Machines")</p> 
<p>@Html.ActionLink("Manage engineers", "Index", "Engineers")</p> /